

.heading {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    color: #333;
}
.heading span {
    color: var(--colore);
  }
.category{
    padding: 3rem 9%;
    margin-top: 50px;
}
.category .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
  }
  
  .category .box-container .box {
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
    border: 0.2rem solid #333;
    padding: 2rem;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  .category .box-container .box.selected{
    background: #333;
    color: #fff;
  }
  /* .category .box-container .box:hover {
    background: #333;
  }
  
  .category .box-container .box:hover h1 {
    color: #fff;
  } */
  
  .category .box-container .box img {
    width:12rem;
    height: 12rem;
    margin-bottom: .5rem;
  }
  
  .category .box-container .box h3 {
    font-size: 1.7rem;
    color: #333;
  }
  