@import url('https://fonts.googleapis.com/css?family=montserrat:500');
.headerbody{
    height: 75px;
    overflow: hidden;
    background-color: #24252A;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid #dee2e6
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 9%;

}
.logo{
    cursor: pointer;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.nav_links li a:hover{
    color: #0088a9;
}

.cta button:hover{
    background-color: rgba(0,136,169,0.8);
}
.cta button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s  ;
    cursor: pointer;
}

@media (min-width: 636px) {
   
    .logoplustoggle{
        margin-right: auto;
    }
    .toggle{
       display: none;
    }
  }

@media (max-width: 636px) {
    
    header{
        flex-direction: column;
    }
    .nav_links{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-top: 2px;
    }
    nav{
        margin-right: auto;
    }
    .logoplustoggle{
        width: 100%;
        display: flex;
        justify-content: inherit;
        align-items: center;
    }
    .toggle{
        width: 20px;
        height: 20px;
        color: white;
    }
    .nav_links li{
        padding: 3px 20px;
    }
  }