
html {
  overflow-x: hidden;
  font-size: 62.5%;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #eee;
}

html::-webkit-scrollbar-thumb {
  background: var(--colore);
  border-radius: 5rem;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  .products .category {
    padding: 3rem 2rem;
  }
}
